#root {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1.5rem;
    text-align: center;
    background: #84aec4;
    border-radius: 20px;
}
html {
    background-color: #79a9c0a3;
}